

#toggle{
    background-color: white;
    width: 140px;
    height: 40px;
    border: 2px solid black;
    border-radius: 40px;
    margin: 50px auto;
    cursor: pointer;

    
}

#circle{
    width: 38px;
    height: 38px; 
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 2px;
    background-color: black;
    transition-duration: 2s;
}

h1{
    margin: 100px auto;
    text-align: center;
    font-size: 5rem;
}

.color-white {
    color: white;
}

.bck-color-black {
    background-color: black;
}